html {
  font-family: "Fredoka One", sans-serif;
  background-image: repeating-linear-gradient(-30deg, #d4fdff, #d4fdff 10px, #c9fcff 10px, #c9fcff 20px);
  border-bottom: 6px solid #b3fbff;
  border-top: 6px solid #b3fbff;
  min-height: 500px;
  max-height: 500px;
}

.outer-wrapper {
  background-image: repeating-linear-gradient(-30deg, #d4fdff, #d4fdff 10px, #c9fcff 10px, #c9fcff 20px);
}

.ice-cream {
  min-height: 480px;
}

.ingredient {
  position: absolute;
}

h1 {
  color: #990073;
  transform-origin: left center;
}

p {
  color: #c09;
  max-width: 19em;
  transform-origin: left center;
}

.btn {
  color: #c09;
}

img {
  max-width: 180px;
}

.btn-ghost {
  border-color: #990073;
}

.btn-ghost:hover {
  color: #c09;
  border-color: #c09;
  opacity: .5;
}

.intro {
  -webkit-animation: intro 1s linear;
  text-shadow: 1px 1px 1px;
}

.h1 {
  transform: rotate(-10deg);
}

.content {
  transform: rotate(-5deg);
}

.cherry {
  right: 160px;
  bottom: 270px;
  animation: cherry .15s 1.5s ease-in forwards;
}

.vanilla-fudge {
  right: 60px;
  bottom: 200px;
  animation: vanilla-fudge .2s .9s ease-in forwards;
}

.chocolate-chip {
  right: 50px;
  bottom: 130px;
  animation: chocolate-chip .3s .6s ease-in forwards;
}

.mint-chip {
  right: 60px;
  bottom: 45px;
  animation: mint-chip .3s .3s ease-in forwards;
}

.cone {
  right: 60px;
  bottom: -60px;
  animation: cone .3s ease-in forwards;
}

@keyframes cone {

  0% {
    bottom: 100%;
  }

  100% {
    bottom: 0;
  }

}

@keyframes mint-chip {

  0% {
    bottom: 100%;
  }

  100% {
    bottom: 104px;
  }

}

@keyframes chocolate-chip {

  0% {
    bottom: 100%;
  }

  100% {
    bottom: 225px;
  }

}

@keyframes vanilla-fudge {

  0% {
    bottom: 100%;
  }

  100% {
    bottom: 275px;
  }

}

@keyframes cherry {

  0% {
    bottom: 100%;
  }

  100% {
    bottom: 325px;
  }

}

@keyframes intro {

  0% {
    filter: opacity(0);
  }

  50% {
    filter: opacity(.1);
  }

  75% {
    filter: opacity(.5);
    filter: blur(.5px);
  }

  100% {
    filter: opacity(1);
  }

}
