html {
  font-family: "Fredoka One", sans-serif;
  background-image: repeating-linear-gradient(-25deg, #d4fdff, #d4fdff 10px, #c9fcff 10px, #c9fcff 20px);

}

h1 {
  color: #990073;
  transform-origin: left center;

}

p {
  color: #c09;
  max-width: 19em;
  transform-origin: left center;
}

.btn {
  color: #c09;
}

img {
  max-width: 150px;
}

.btn-ghost {
  border-color: #990073;
}

.btn-ghost:hover {
  color: #c09;
  border-color: #c09;
  opacity: .5
}

.intro {
  animation: intro 1s linear;
  text-shadow: 1px 1px 1px;
}
